---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.tsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Componente de Botón + 50</h1>
		<Button client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
		background-color: white;
	}

	h1 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 1em;
	}

	button {
		font-size: 2rem;
		padding: 1rem 2rem;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
</style>
